.App {
  margin-top: 20px;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-form {
  margin-bottom: 20px;
}

.todo-list > ul {
  margin-top: 10px;
}
